.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
*.log

# data/*
uv.lock
.idea/
.ipynb_checkpoints/
output/*
.features_agent_cache/
catboost_info/
.env
dist/
datasets/_backups/
